html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: transparent; 
    font: 400 1rem Roboto, sans-serif;
    overflow: hidden;
}
button{
    font-size: 20px;
}
.header{
    margin-left: 250px;
}
.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100; /* coloca o video atrás dos conteúdos */
    opacity: 1; /* Define a opacidade para escurecer o vídeo */
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

video { /* Define o vídeo para ocupar 100% da largura e altura da tela*/
        position: absolute;/*centralizam o vídeo dentro do contêiner*/
        top: 50%; /*centralizam o vídeo dentro do contêiner*/
        left: 50%; /*centralizam o vídeo dentro do contêiner*/
        width: 100%; 
        height: 100%;
        transform: translate(-50%, -50%); /*centralizam o vídeo dentro do contêiner*/
        object-fit: contain; /* Garante que o vídeo seja exibido sem cortes */
}

@media (max-width: 768px) {
    video {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    video {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1025px) {
    video {
        width: 100%;
        height: auto;
    }
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #000000;
    background: #8d8c8c;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    margin-bottom: 20px; /* Adiciona espaçamento entre os botões */
    display: block; /* Empilha os botões verticalmente */
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient();
    position: absolute;
    top: 1px;
    left: 1px;
    background-size: 1000%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 252, 252);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* css do icone para usuario logado. */
.icone {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #2b2d30;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 10px;
    right: 10px;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}