* {
    font: 400 1rem Roboto, sans-serif;
    
}

body {
    background-color: black;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}


.main {
    color: white;
    width: 756px;
    height: 560px;
    border-radius: 30px;
    border: 2px solid #fff;
    background-color: black;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5.2rem;
}

.icone {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #2b2d30;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 10px;
    right: 10px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
}

.label-name {
    position: absolute;
    top: -10px;
    left: 50px;
    background: black;
    padding: 0 10px;
    font-size: 0.9rem;
    color: #fff;
}

.input-name {
    border-radius: 30px;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #fff;
    background: black;
    color: white;
    outline: none;
}


.label-email {
    position: absolute;
    top: 10px;
    left: 50px;
    background: black;
    padding: 0 10px;
    font-size: 0.9rem;
    color: #fff;
}


.input-email {
    border-radius: 30px;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #fff;
    background: black;
    color: white;
    outline: none;
    margin-top: 20px;
}

.textArea-label {
    position: absolute;
    top: 40px;
    left: 50px;
    background: black;
    padding: 0 10px;
    font-size: 0.9rem;
    color: #fff;
}

.textArea {
    width: calc(100% - 5px); /* Ajuste conforme necessário */
    min-height: 100px; /* Altura mínima inicial */
    padding: 15px 20px;
    border: 1px solid #fff;
    background: black;
    color: white;
    outline: none;
    margin-top: 50px; /* A mesma posição horizontal do label */
    resize: none; /* Impede o redimensionamento do textArea pelo usuário */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
    border-radius: 8px;
}

.button {
    margin-top: 20px;
    background-color: #fff;
    color: black;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 30px;
    width: 185px;
    font-size: 1rem;
}

.button:hover {
    background-color: #8d8c8c;
}

.button:hover {
    background-color: #8d8c8c;
}

.send-email {
    display: flex;
    right: 8.25rem;
    margin-top: 7.625rem;
}