* {
    font-family: 400 1rem Roboto, sans-serif;
}
.select-container {
    position: relative;
    display: inline-block;
}

.select-style {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #242323;
    background-color: #ffffff;
    color: black;
    margin-top: 120px;
}

.select-style:hover {
    background-color: #1f1e1e; /* Muda a cor ao passar o mouse */
    color: white;
}

.select-style:active {
    background-color: #515251;
    color: white;
    box-shadow: 0 5px #000000;
    transform: translateY(4px);
}

.icone {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #2b2d30;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.icon-home {
    display: inline-block;
    line-height: 40px;
    position: fixed;
    margin-top: -100px;
}
body, html {
    height: 100%;
    margin-top: 50px;
    display: flex;
    background: black;
    justify-content: left;
    align-items: flex-start;
    font-family: Roboto, sans-serif;
    color: white;
}

header {
    text-align: left;
    margin-bottom: 20px;
}

/* Estilos para .text-container */
.text-container {
    display: none;
    background-color: black;
    color: white;
}

.text-container.selected {
    display: block;
    margin-left: 30px; /*Usado para espaçar o texto exibido apos o select*/
}
  
.info-box {
    display: none;
    position: absolute;
    top: 40px; /* Ajusta a distância do topo conforme necessário */
    right: 30px;
    background-color: black;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}